<div id="map-outer"><div id="map-canvas"/></div></div>
<div class="banner-wrapper"><p id="banner">Wheaton College CS Alumni <img id="logo" src="/img/logo.png"></p></div>

<div class="input-field">
	<input id="searchBar" placeholder="Search..."></input>
	<button type="button" id="submit"> Submit</button>
</div>


<div class="results">
	{{#if people}}
		{{#each people}}
			{{> person}}
		{{/each}}
	{{/if}}
</div>