<div class="nav">
	<div class="nav-banner"></div>
	<div class="nav-search">
		<input id="nav-searchBar" placeholder="Search..."></input>
		{{!-- <button type="button" id="submit"> Submit</button> --}}
	</div>
	<div class="signin-button">
		<div class="signin-text">Sign Up</div>
	</div>
</div>

<div id="map-outer"><div id="map-canvas"/></div></div>
<div class="banner-wrapper"><div class="banner-image"></div>{{!-- <p id="banner">Wheaton College CS Alumni <img id="logo" src="/img/logo.png"></p> --}}</div>

<div class="input-field">
	<input id="searchBar" placeholder="Search..."></input>
	<button type="button" id="submit"> Submit</button>
</div>

<div class="login-button">
	<script type="IN/Login"></script>
</div>

<div class="results">
	<div class="list"></div>
</div>