/* CSS Reset */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* ----------- Begin Website Styling ----------- */



* {
	box-sizing: boder-box;

}

html { 
	height: 100%;
	background-color: #ecf0f1;
}
 body { 
 	font-family: Montserrat;



 	height: 100%; 
 	margin: 0; 
 	padding: 0 
}

.nav {
	top: -100%;
	height: 50px;
	width: 100%;
	background-color: rgba(236, 240, 241, 0.9);
	/*background-color: black;*/
	position: fixed;
	z-index: 1;

	box-shadow: 0px 3px 5px #d8d8d8;
}

.nav-banner {
	height: 100%;
	width: 50%;
	background-image: url(../img/nav-banner.png);
	background-repeat: no-repeat;
	background-size: contain;
}

.nav-search {
	width: 50%;
	height: 100%;
	float: right;
}

#map-canvas {
	height: 100%;
}

#map-outer {
	height: 400px;
}

.banner-wrapper {
	height: 70px;
	margin-top: 5px;
}

.banner-image {
	height: 100%;
	width: 850px;
	margin: 0 auto;
	background-image: url(../img/Alumnae_Banner.png);
	background-repeat: no-repeat;
	background-size: 850px 70px;
}

#banner {
	font-family: 'Helvetica Neue', 'Latin Modern';
	font-weight: 100;
	font-size: 60px;
	height: 80%;

	text-align: center;
}

#logo {
	height: 100%;
}

.login-button {
	width: 140px;
	margin: 10px auto;
}

.results {
	width: 1140px;
	height: 10px;
	margin: 0 auto;
}

.list {
	width: 1140px;
	height: 10px;
	min-width: 900px;

	margin: 0 auto;
}

.item {
	height: 300px;

	width: 22.5%;
	min-width: 20%;

	border-radius: 2px;
	box-shadow: 0 0 5px #d8d8d8;

	float: left;

	margin-left: 20px;
	margin-bottom: 20px;

	/* change later? */
	/*overflow: scroll;*/
}

.profile-info {
	width: 100%;
	height: 75%;
	display: block;
	padding: 5px;
	padding-right: 0px;
	/*position: absolute;*/
}

.spacing {
	width: 100%;
	height: 25%;

	border-top: 1px solid #d8d8d8;
}

.profile-picture {
	height: 90px;
	position: absolute;
	border-radius: 500px;
	margin: 0px 82px;
	top: 765px;
}

.profile-info-u {
	width: 100%;
}

.fName {
	font-weight: 400;
	font-size: 30px;
	margin-bottom: 10px;
}

.fName-u {
	width: 100%;
}

.position, .location {

	font-size: 15px;
}

.location {
	padding-top: 3px;
}

.input-field {
	width: 300px;
	margin: 15px auto;
}



#searchBar {
	border-radius: 5px;
	border: 3px solid;
	border-color: #d8d8d8;

	width: 200px;
	height: 30px;

	/*display: block;*/

	font-family: 'Open Sans';
	font-weight: 400;
	font-size: 19px;

	padding: 0px 5px;

	transition: border-color 0.5s ease;
	-webkit-transition: border-color 0.5s ease;
	-ms-transition: border-color 0.5s ease;
    -moz-transition: border-color 0.5s ease;
	o-transition: border-color 0.5s ease;
}

#searchBar:active, #searchBar:focus {
	outline: none;
	border-color: #2ecc71;
}

#submit {

	width: 75px;
	height: 30px;

	border-radius: 5px;

	color: #7f8c8d;
	background-color: #d8d8d8;
	border: none;

	transition: background-color 0.3s ease;
	-webkit-transition: background-color 0.3s ease;
	-ms-transition: background-color 0.3s ease;
    -moz-transition: background-color 0.3s ease;
	o-transition: background-color 0.3s ease;
}

#submit:hover {
	outline: none;
	color: #fff;
	background-color: #2ecc71;
}